/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

.round-header-disabled{
    background-color: #6f71bc;
    color: #fff;
}

.nuovoNavbarFont{
    color: black !important;
    font-weight: 400 !important; 
    font-size: larger !important;
}

