/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

.round-header-disabled{
    background-color: #6f71bc;
    color: #fff;
}

.nuovoNavbarFont{
    color: black !important;
    font-weight: 400 !important; 
    font-size: larger !important;
}

/*Sostieni la nostra causa */
.sl1 {
    background-image: url('./../img/home_banner.png');
    background-position: center center; background-size: cover;
    height: 100%;
    min-height: 60vh;
    width: 100%;
}
.text-very-pink{
    color: black;
}
.typo-space-line-very-pink::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display:block;
  position: absolute;
  border-bottom:  5px solid black;
  padding-top: .5em;
}

/*Workshop */
.sl2 {
    background-image: url('./../img/workshop_banner.png');
    background-position: center center; background-size: cover;
    height: 100%;
    min-height: 60vh;
    width: 100%;
}

.text-pink{
    color: #ff837b;
}
.typo-space-line-pink::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display:block;
  position: absolute;
  border-bottom:  5px solid #ff837b;
  padding-top: .5em;
}

/*Team */
.sl3 {
    background-image: url('./../img/banner-bg-01.jpg');
    background-position: center center; background-size: cover;
    height: 100%;
    min-height: 60vh;
    width: 100%;
}

.text-red{
    color: #861111;
}
.typo-space-line-red::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display:block;
  position: absolute;
  border-bottom:  5px solid #861111;
  padding-top: .5em;
}